/**Tag Selectors**/
body:hover {
  background-color: #C8F8FF;
}
h1{
  color: Yellow;
}

/**Class Selectors**/
.Testing1{
  background-color: red;
}

/**ID Selectors**/
/**This stuff will override Tag Selectors because this is more specific**/
#heading{
  color: blue;
}
